name: GitHub-Profile-3D-Contrib
on:
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: yoshi389111/github-profile-3d-contrib@0.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - name: Move to assets
        run: |
          mkdir -p assets/profile-3d-contrib
          mv profile-3d-contrib/* assets/profile-3d-contrib/
          rm -rf profile-3d-contrib

      - name: Commit and push changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add assets/profile-3d-contrib
          if ! git diff-index --quiet HEAD --; then
            git commit -m "generated 3d profile"
            git pull --rebase
            git push
          else
            echo "No changes detected. Skipping commit and push."
          fi
