name: User Statistician

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - main
      - master

# Ensure the workflow can push changes
permissions:
  contents: write

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Generate Statistics
        uses: cicirello/user-statistician@v1
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          featured-repository: mohitmishra786/mohitmishra786
          image-file: assets/github-user-stats.svg
          commit-and-push: false

      - name: Commit and push changes
        run: |
          set -e
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          if ! git diff-index --quiet HEAD --; then
            git commit -m "update stats"
            git pull origin main --rebase --autostash
            git push
          fi